<% @devise_title = "Formulaire d'inscription"%>

<%= render partial: 'shared/errors', locals: {object: resource} %>

<%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>

  <!-- EMAIL !-->
  <div class="form-group">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <!-- MOT DE PASSE !-->
  <div class="form-group">
    <%= f.label :password, "Mot de passe" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %>
    <br>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <!-- CONFIRMATION !-->
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <!-- SUBMIT !-->
  <div class="actions mt-5">
    <%= f.submit "Inscription", class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <%= render "devise/shared/links" %>

<% end %>
